/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* -- */

/* Root */
:root {
  --primary-color: #d74c2a;
  --spacing: 2.5rem;
}
/* -- */

/* Typography  */
@font-face {
  font-family: "PT Mono";
  src: url(../fonts/PTMono-Regular.ttf) format("ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Mono";
  font-size: 1.6rem;
  background-color: #faebe7;
  height: 100vh;
}

/* -- */

/* Components, General Classes */
.reciept-panel {
  border: 1px solid rgb(228, 227, 227);
  border-radius: 24px;
  box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.35);
}
.container {
  width: 80%;
  margin: 2rem auto;
}

.d-flex {
  display: flex;
}

.f-center {
  justify-content: center;
}

.f-middle {
  align-items: center;
}

.f-space-between{
    justify-content: space-between;
}
/* -- */

/* Main styles */
.reciept-panel {
  background: white;
  width: 70rem;
  height: auto;
}

.header {
  padding-bottom: 2rem;
}

.logo {
  width: 15rem;
}

.total-price {
  /* text-align: center; */
  font-weight: bold;
  font-size: 1.8rem;
  margin: calc(var(--spacing) * 2) 0;
}

/* Table Style */
.reciept-table {
  width: 100%;
  border-collapse: collapse;
}

.reciept-table th,
.reciept-table td {
  padding: var(--spacing) 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.reciept-table td:first-child {
  text-align: left;
}
/* -- */
